@import url('table.css');

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 62.5%;
  height: 100%;
}

form {
  margin-bottom: 0px;
  margin-top: 0px;
}

h1 {
  font-size: 1.1em;
}

div.pagewrapper {
  min-height: 100%;
}

div.navi {
  padding: 4px 4px 0px 4px;
  border-bottom: 1px solid #DDDDDD;
}

div.breadcrumbs {
  margin: 6px 0 6px 8px;
  padding-left: 2px;
  border: 0;
  float: left;
}

div.breadcrumbs a {
  font-weight: bold;
  font-size: 1.1em;
}

div#version {
  float: right;
  margin-top: 4px;
  margin-right: 10px; 
}

div.function_navi {
	clear: both;
  padding: 4px 0px 4px 10px;
}

div.form_buttons {
  clear: both;
	margin-top: 10px;
  margin-bottom: 10px;
}

div.list_container {
  margin: 10px;
  display: table;
}

div.message {
  margin: 2px;
  padding: 2px;
}

span.message {
  margin: 4px;
  padding: 1px;
}

div.form_container {
  padding: 8px;
  margin: 0;
  border: 0;
}

div.small_label {
  width: 100px;
  float: left;
  margin-bottom: 8px; 
  clear: left;
}

div.medium_label {
  width: 160px;
  float: left;
  margin-bottom: 8px; 
  clear: left;
}

div.unlimited_label {
  float: left;
  margin-bottom: 8px; 
  clear: left;
  font-size: 1.1em;
}

div.field {
  float: left;
  margin-bottom: 8px; 
}

div.report
{
  margin: 10px;
}

table {
  border-style: none;
  border-width: 0px;
  padding: 0px;
}
table.list { 
  clear: both;
  border: 1px solid #cccccc;
}

table.iform {
  margin: 0px;
  padding: 0px;
}

table.iform_pop {
  border: 0;
  margin: 0px;
  padding: 0px;
}

.iform tr:nth-child(odd) {
  background-color: transparent;
}
.iform tr[class=summary]:nth-child(even) td {
  background-color: transparent;
}
.iform tr:nth-child(even) td {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.05);
}
.iform tr:nth-child(even) td.button {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0);
}

tr.summary td {
  font-weight: bold;
  background-color: transparent;
}

.iform td {
  padding: 2px 1px 2px 1px;
}

.iform td.button {
  padding: 2px 2px 2px 2px;
  vertical-align: middle;
}

th {
  text-align: left;
}

.toplabel {
  vertical-align: top;
}

.iform td.deleted {
  text-decoration: line-through;
}

td {
  font-weight: normal;
}

td.button {
  vertical-align: top;
  padding: 2px 0px;
}

td.field {
  padding-right: 16px;
}

td.error {
  font-weight: bold;
  background-color: #8d5153;
}
.sublabel {
  padding: 2px 2px 2px 2px;
  clear: both; 
  margin-top: 20px;
  margin-bottom: 8px;
}
td.reportsublabel {
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  clear: both; 
  margin-top: 10px;
}
td.tiny {
  width: 40px;
}
td.tiny_label {
  width: 40px;
}
td.xshort {
  width: 55px;
}
td.xshort_label {
  width: 55px;
}
td.short {
  width: 70px;
}
td.short_label {
  width: 70px;
}
td.date_label {
  width: 75px;
}
td.small_label {
  width: 100px;
}
th.small, td.small {
  width: 100px;
}
td.date {
  width: 75px;
}
th.medium, td.medium {
  width: 160px;
}
td.medium_label {
  width: 160px;
}
th.long, td.long {
  width: 240px;
}
td.long_label {
  width: 240px;
}
td.currency {
  width: 60px;
  padding-right: 8px;
  text-align: right;
}
td.currency_label {
  width: 60px;
  padding-right: 8px;
}
td.count {
  width: 60px;
  text-align: right;
  padding-right: 4px;
}
td.count_label {
  width: 60px;
}
td.measurement {
  width: 60px;
  text-align: right;
  padding-right: 4px;
}
td.measurement_label {
  width: 60px;
}
td.percent {
  width: 30px;
  text-align: right;
  padding-right: 4px;
}
td.percent_label {
  width: 30px;
}

td.row_sum {
  border-top: 1px solid gray;
  padding-bottom: 8px;
}

td.total_sum {
  margin-top: 4px;
  font-weight: bold;
}

td a {
  text-decoration: underline;
}

td a.navilink {
  text-decoration: none;  
  font-weight: normal;
  width: 100%;
  height: 100%;
  display: block;
}
td a.navilink:hover {
  text-decoration: none; 
  width: 100%;
  height: 100%;
  display: block;
}

input {
  padding: 0px 0px 0px 0px;
}

input.tiny {
  width: 30px;
}
input.short {
  width: 60px;
}
input.small {
  width: 100px;
}
input.date {
  width: 72px;
}
input.medium {
  width: 160px;
}
input.long {
  width: 240px;
}
input.count {
  width: 60px;
}
input.currency {
  width: 60px;
}
input.measurement {
  width: 60px;
}
input.percent {
  width: 30px;
}

select {
  padding: 0px 0px 0px 0px;
}

select.normal {
  padding: 0px 0px 0px 0px;
}
select.small {
  width: 100px;
}
select.medium, div.medium {
  width: 160px;
}

textarea {
  padding: 0px 0px 0px 0px;
}

textarea.small {
  height: 40px;
  width: 200px;
}
textarea.medium {
  height: 60px;
  width: 200px;
}
textarea.large {
  height: 80px;
  width: 200px;
}
textarea.xlarge {
  height: 80px;
  width: 400px;
}
textarea.email_body {
  height: 200px;
  width: 500px;
  font-family: Monaco, "Lucida Console", "Courier New", Courier, monospace;
}

div.iform {
  padding: 0px 0px 0px 0px;
  margin-top: 8px;
  border: 1px solid gray;
  display: table;
}

div.column_mapping {
  sdwidth: 900px; 
  border: 1px solid gray;
  clear: both;
  overflow: auto;
}

a {
  text-decoration: none;  
}
a:hover {
  text-decoration: underline;
}

a.navilink {
  text-decoration: none;  
  font-weight: normal; 
}
a.navilink:hover {
  text-decoration: underline;
  font-weight: normal;
}

a.buttonlink {
  font-weight: normal;
  margin-bottom: 2px; 
}
a.buttonlink:hover {
}

a.functionlink {
  cursor: pointer;
  font-weight: bold; 
}

a.selected {
}

img.image {
  border: 1px solid #dddddd;
  max-width: 400px;
  max-height: 250px;
  background-color: white;
}

.new_message {
  margin: 20px;
}

.form_buttons img {
  vertical-align: middle;
}

.fg-toolbar {
  padding: 4px;
}

.ui-floating-message {
  display: table; 
}

.ui-floating-message div {
  text-align: center;
  display: table-cell; 
  vertical-align: middle;
}

.search_row {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.05);
}

.field_sep {
	float: left;
	clear: both;
	height: 6px;
}

.pac-container {
	font-size: 120%;
	min-width: 250px;
}

.table_header {
	font-weight: bold;
	margin-bottom: 1em;
}

.select2-search input, .select2-results {
	font-size: 1.2em;
	font-family: Verdana,Arial,sans-serif;
}

#column_table tr:nth-child(even) {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#column_table tr:nth-child(odd) {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.0);
  cursor: pointer;
}
