/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * dataTables display
 */

.dataTables_length {
  float: left;
	margin-right: 20px;
	margin-top: 2px;
}

.dataTables_filter {
  float: right;
  text-align: right;
  width: 50%;
	margin-top: 2px;
}
.dataTables_filter input {
	margin-left: 2px;
}

.dataTables_paginate {
  float: right;
  text-align: right;
}

.dataTables_processing {
  float: right;
  margin-top: 6px;
}

.dataTables_info {
  float: left;
  margin-top: 5px;
  margin-right: 16px;
}

table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;

	thead th {
		padding: 3px 18px 3px 10px;
		border-bottom: 1px solid black;
		font-weight: bold;
		cursor: pointer;
		* cursor: hand;
	}

	tfoot th {
		padding: 3px 18px 3px 10px;
		border-top: 1px solid black;
		font-weight: bold;
	}
}

table.display {
	tr.heading2 td {
		border-bottom: 1px solid #aaa;
	}
	td {
		padding: 3px 10px;
		&.center {
			text-align: center;
		}
	}
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * dataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

.sorting_disabled .DataTables_sort_wrapper {
	padding-right: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * dataTables row classes
 */

tr.even {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.03);
	cursor: pointer;
	border-top: 1px solid red;
	&:hover {
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
}

tr.odd {
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.0);
  cursor: pointer;
	&:hover {
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
}

tr.overdue td:nth-child(2) {
  background-color: #FFCCDD;
}

tr.overdue7 td:nth-child(2) {
  background-color: #FF99AA;
}

tr.overdue14 td:nth-child(2) {
  background-color: #FF5566;
}

tr.deleted {
	text-decoration: line-through;
}

tr.custom-price td.editable {
	font-weight: bold;
}
td.editable {
  cursor: cell;
}
td.editable:not(.editing)::before {
  content: '\270e ';
  font-size: 120%;
}

.list td {
	padding: 3px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.clear {
	clear: both;
}

tfoot {
  input {
		margin: 0.5em 0;
		width: 100%;
		color: #444;
	}
	input.search_init {
		color: #999;
	}
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.paging_full_numbers {
	-width: 50%;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 1px 4px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers .ui-button {
  cursor: pointer;
  margin: 0;
  padding: 2px 6px;
}

.dt-buttons button {
	padding: 3px 6px;
}

table thead th {
	div.DataTables_sort_wrapper {
	  padding-right: 20px;
  	position: relative;
	}
	div.DataTables_sort_wrapper span {
		margin-top: -8px;
		position: absolute;
		right: 0;
		top: 50%;
	}
}

.paging_full_numbers {
	span.paginate_button {
		background-color: #ddd;
	}

	span.paginate_button:hover {
		background-color: white;
	}

	span.paginate_active {
		background-color: #DFEFFF;
	}
}

table.display {
	tr.odd.row_selected td {
		background-color: #B0BED9;
	}

	tr.even.row_selected td {
		background-color: #9FAFD1;
	}
}

/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.even {
	td.sorting_1 {
  	background: rgb(0, 0, 0) transparent;
  	background: rgba(0, 0, 0, 0.1);
	}
	tr.even td.sorting_2 {
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.06);
	}
	tr.even td.sorting_3 {
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.03);
	}
}
tr.odd {
	td.sorting_1 {
	  background: rgb(0, 0, 0) transparent;
	  background: rgba(0, 0, 0, 0.08);
	}
	td.sorting_2 {
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.04);
	}
	td.sorting_3 {
		background: rgb(0, 0, 0) transparent;
		background: rgba(0, 0, 0, 0.02);
	}
}

tr.overdue td:nth-child(2) {
	&.sorting_1, &.sorting_2, &.sorting_3 {
  	background-color: #FFCCDD;
	}
}
tr.overdue7 td:nth-child(2) {
	&.sorting_1, &.sorting_2, &.sorting_3 {
  	background-color: #FF99AA;
	}
}
tr.overdue14 td:nth-child(2) {
	&.sorting_1, &.sorting_2, &.sorting_3 {
	  background-color: #FF5566;
	}
}

/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
	&.focus {
		border: 3px solid #3366FF;
	}
}

table.display tr {
	&.gradeA {
		background-color: #eeffee;
	}

	&.gradeC {
		background-color: #ddddff;
	}

	&.gradeX {
		background-color: #ffdddd;
	}

	&.gradeU {
		background-color: #ddd;
	}
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}
