# OS Created Files

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Eclipse Files
.metadata/*
.settings/*
.project
.buildpath
.ExternalToolBuilders

# VSCode
.vscode

# Local files
config.php
tcpdf/cache/*
!tcpdf/cache/empty
vendor
.php_cs.cache
