<FilesMatch "\.(xml|json|lock|sql|spec|sample)$">
  <IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
  </IfModule>

  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule docs/open_doc$ invoice.php
</IfModule>
