sudo: false
language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_script:
  - phpenv config-rm xdebug.ini
  - phpenv rehash
  - composer install
  - npm install -g eslint

cache:
  directories:
    - $HOME/.composer/cache
    - .php_cs.cache

script:
- vendor/bin/phing travis -Dphp-cs-fixer-extra-params="--cache-file=.php_cs.cache/.php_cs.cache"