<?php
/**
 * Basic configuration
 *
 * PHP version 5
 *
 * Copyright (C) 2010-2018 Ere Maijala
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * @category MLInvoice
 * @package  MLInvoice\Base
 * @author   Ere Maijala <ere@labs.fi>
 * @license  http://opensource.org/licenses/gpl-2.0.php GNU General Public License
 * @link     http://labs.fi/mlinvoice.eng.php
 */

// UI Language. Default is Finnish.
// Käyttöliittymän kieli. Oletus on suomi.
//define('_UI_LANGUAGE_', 'en-US');

// Uncomment below to display language selection list in login screen.
// Poista kommentit allaolevasta, jotta kirjautumissivulla näytetään kielen valinta.
//define('_UI_LANGUAGE_SELECTION_', 'en-US=In English|fi-FI=Suomeksi|sv-FI=På svenska');

// Database server address
// Tietokantapalvelimen osoite
define('_DB_SERVER_', 'localhost');

// Database server user id
// Tunnus tietokantapalvelimelle
define('_DB_USERNAME_', 'mlinvoice');

// Database server password
// Salasana tietokantapalvelimelle
define('_DB_PASSWORD_', '');

// Database name
// Tietokannan nimi
define('_DB_NAME_', 'mlinvoice');

// Database table prefix. Note that an underscore is automatically added to this value unless empty.
// Tietokantataulujen prefix. Huom! Alaviiva lisätään loppuun automaattisesti, ellei arvo ole tyhjä.
define('_DB_PREFIX_', 'mlinvoice');

// Whether verbose error messages are reported on html pages (true = yes, false = only in php error log)
// Raportoidaanko tietokantavirheiden tarkat tiedot html-sivuilla (true = kyllä, false = vain php:n virhelokissa)
define('_DB_VERBOSE_ERRORS_', true);

// Character set: UTF-8 or ISO-8859-15. UTF-8 should work properly regardless of database character set.
// Merkistö: UTF-8 tai ISO-8859-15. UTF-8:n pitäisi toimia riippumatta siitä, mitä merkistöä tietokannassa on.
define('_CHARSET_', 'UTF-8');

// If the characters show up wrong, it's possible that the web server had been configured to force another character set.
// In that case, try uncommenting the following line.
// Jos merkit näkyvät väärin, on mahdollista, että web-palvelin on asetettu pakottamaan toinen merkistö käyttöön.
// Tällaisessa tapauksessa voit yrittää ottaa kommenttimerkit pois seuraavan rivin alusta.
//header('Content-Type: text/html; charset=utf-8');

// Page title
// Sivujen otsikko
define('_PAGE_TITLE_', 'MLInvoice');

// jQuery UI theme location
// Käytettävän jQuery UI-teeman sijainti
//define('_UI_THEME_LOCATION_', 'jquery/css/theme/jquery-ui-1.10.0.custom.min.css');

// Whether to use http or https. Set only if automatic detection fails
// http vai https - vaihda vain jos automaattinen valinta alla ei toimi
define('_PROTOCOL_', isset($_SERVER['HTTPS']) ? 'https://' : 'http://');
//define('_PROTOCOL_', 'http://');

// Filename used when importing data into database using the Import function
// Tietojen tuontiin palvelimelta käytettävä tiedosto
define('_IMPORT_FILE_', '');

// Session cookie name and restriction to the path. These can be used to limit cookies with multiple installations on same server.
// Istunto-evästeen nimi ja rajaus polun mukaan. Näillä voi huolehtia rinnakkaisten asennusten kohdalla, etteivät evästeet vuoda asennuksesta toiseen. Ei vaikuta tietoturvaan.
define('_SESSION_NAME_', 'MLINVOICESESSION');
define('_SESSION_RESTRICT_PATH_', true);

// Time zone to use. Typically set in PHP settings, but can be configured locally here too for MLInvoice.
// Aikavyöhyke. Määritelty tyypillisesti PHP-asetuksissa, mutta voidaan määritellä tässä MLInvoicea varten.
//date_default_timezone_set('Europe/Helsinki');

// Directory for temporary files. By default the system-provided directory is used, but this setting can be used to override it.
// Väliaikaistiedostojen hakemisto. Oletuksena käytetään järjestelmän määrittelemää hakemistoa, mutta tällä asetuksella se voidaan vaihtaa toiseen.
//define('_TEMP_DIR_', '/tmp');

// Version check address used if checking for new versions is enabled from general settings. Change only if necessary.
// Versiotarkistuksen osoite, jota käytetään, jos uusien versioiden tarkistus on käytössä yleisissä asetuksissa. Vaihda vain, jos välttämätöntä.
//define('_UPDATE_ADDRESS_', 'https://www.labs.fi/mlinvoice_version.php');

// Mail settings. By default the PHP mail() command is used, but an sendmail or an external SMTP server can be used by changing these settings.
// Sähköpostiasetukset. Oletuksena käytetään PHP:n mail()-komentoa, mutta muokkaamalla näitä asetuksia voidaan käyttää sendmail-komentoa tai ulkoista SMTP-palvelinta.
// See http://swiftmailer.org/docs/sending.html for more information on the settings for the mail component.
// See http://php.net/manual/en/context.php for more information on the stream_context_options settings.

$GLOBALS['mlinvoice_mail_settings'] = [

    // Method to use for sending email:
    // 'mail'     - Use PHP's mail() command (default)
    // 'sendmail' - Use sendmail command
    // 'smtp'     - Use an SMTP server
    'send_method' => 'mail',

    // Settings to use with send_method 'sendmail'
    'sendmail' => [
        'command' => '/usr/sbin/sendmail -bs',
    ],

    // Settings to use with send_method 'smtp'
    'smtp' => [
        'host' => 'smtp.gmail.com',     // Host name
        'port' => 587,                  // Port
        'security' => 'tls',            // 'ssl' for secure connection, 'tls' for STARTTLS
        'username' => '???@gmail.com',  // User name for authentication (if needed)
        'password' => 'xyz',            // Password for authentication (if needed)
        'stream_context_options' =>  [  // SSL stream context options. See http://php.net/manual/en/context.php for more information.
            'ssl' => [
                //'capath' => '/path/to/my/trusted/ca/folder'
            ]
        ]
    ]
];

// Uncomment the following line to enable SQL debugging. Note that the debugging
// information that's written into PHP's error log may include credentials etc.
//define('_SQL_DEBUG_', true);

// Uncomment the following line to enable profiling with Tideways.
// See https://tideways.io/profiler/xhprof-for-php7-php5.6 for more information.
//define('_PROFILING_', true);

// N.B.! Other settings can be found in the UI (Settings -> General Settings)
// HUOM! Muut asetukset löytyvät käyttöliittymästä kohdasta Asetukset - Yleiset asetukset
