; This is an example of local language string overrides
; Copy this file to invoice_en-US.local.ini and add/change strings to modify texts on the invoice prinouts 

; This example will change the currency to USD
TotalIncludingVAT = 'Total Including VAT (USD)'
